.title {
    margin-right:10% ;
   width: 20vw;
}

body {
    background-image: url(/assets/background.jpg);
    background-repeat: repeat;
}


.containers {
    margin-top: 5vh;
}

.containers {
    margin-left: 20%;
    }
    
    .crud-title {
        margin-left: 21%;
        width: 50%;
        text-align: center;
    }

    form {
        margin-left: 40%;
    }
    
    .title {
        width: 35vw;
        border-style: solid;
        border-width: 2px;
        font-size: large;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    
    th {
        width: 15%;
        border-style: solid; 
        border-width: 2px;
        text-align: justify;
        font-weight: 500;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        
    }
    
    td {
        border-style: solid; 
        border-width: 2px;
        width: 50vw;
        font-weight: 700;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    .inp {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 280px;
        border-radius: 3px;
        overflow: hidden;
      }
      .inp .label {
        position: absolute;
        top: 20px;
        left: 12px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        transform-origin: 0 0;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease;
        pointer-events: none;
      }
      .inp .focus-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.05);
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
      }
      .inp input {
        -webkit-appearance: none;
        -moz-appearance: none;
             appearance: none;
        width: 100%;
        border: 0;
        font-family: inherit;
        padding: 16px 12px 0 12px;
        height: 56px;
        font-size: 16px;
        font-weight: 400;
        background: rgba(0, 0, 0, 0.02);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
        color: #000;
        transition: all 0.15s ease;
      }
      .inp input:hover {
        background: rgba(0, 0, 0, 0.04);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
      }
      .inp input:not(:-moz-placeholder-shown) + .label {
        color: rgba(0, 0, 0, 0.5);
        transform: translate3d(0, -12px, 0) scale(0.75);
      }
      .inp input:not(:-ms-input-placeholder) + .label {
        color: rgba(0, 0, 0, 0.5);
        transform: translate3d(0, -12px, 0) scale(0.75);
      }
      .inp input:not(:placeholder-shown) + .label {
        color: rgba(0, 0, 0, 0.5);
        transform: translate3d(0, -12px, 0) scale(0.75);
      }
      .inp input:focus {
        background: rgba(0, 0, 0, 0.05);
        outline: none;
        box-shadow: inset 0 -2px 0 #0077FF;
      }
      .inp input:focus + .label {
        color: #0077FF;
        transform: translate3d(0, -12px, 0) scale(0.75);
      }
      .inp input:focus + .label + .focus-bg {
        transform: scaleX(1);
        transition: all 0.1s ease;
      }


      button.style-4::after {
        border: 0;
        box-shadow: 0px 0px 0px 2px black;
        width: calc(100%);
        height: calc(100%);
      }
      button.style-4:hover::after {
        top: -0.5rem;
        left: -0.5rem;
        width: calc(100% + 0.5rem * 2);
        height: calc(100% + 0.5rem * 2);
      }

      .button4 {
        width: 20%;
        font-weight: 600;
        border: solid 2px black;
        outline: 0;
        font-size: 1rem;
        letter-spacing: 0.08rem;
        background-color: white;
        border-radius: 0.35rem;
        position: relative;
        cursor: pointer;
        text-align: center;
      }
      .button4::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: pink;
        z-index: -1;
        border-radius: 0.35rem;
        border: solid 2px black;
        transition: all 0.3s ease-in-out;
      }

.arribo {
     padding: 19px 13px;
}

.arrow {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  background: transparent;
  border-top: 1vmin solid black;
  border-right: 1vmin solid black;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
}
.arrow.left {
  left: 20vw;
  transform: translate3d(0, -50%, 0) rotate(-135deg);
}
.arrow.right {
  right: 20vw;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}
.arrow:hover {
  border-color: orange;
  box-shadow: 0.5vmin -0.5vmin 0 white;
}
.arrow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%) rotate(45deg);
  width: 200%;
  height: 200%;
}